header{
    display: flex;
    width: 100%;
}
nav{
    padding-left: 780px;
}
li{
    display: inline-block;
    margin-left: 25px;
    color: #636060;
   font-size: 20px;
   margin-top: 20px ;
}

img{
    padding-left: 20px;
}

.border{
    position: relative;
  text-align: center;
  margin-top: 40px;

}

.borderpic img{
    width: 100%;
}

.borderpic h1{
   color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 79px;
}
.borderpic p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}




.left-side{
    padding-left: 70px;
   
   
}

 .left-side h3{
    color: #636060;
    width: 286px;
    height: 63px;
    margin-top: 40px;
    font-family: Helvetica;
font-size: 17px;
text-align: left;

}
 

  .left-side h1{
    width: 214px;
    height: 32px;
   color: #010101;
   margin-top: -28px;
   font-family: Helvetica;
font-size: 28px;
text-align: left;

}


   .left-side h4 {
    width: 286px;
    height: 63px;
    color: #636060;
    font-family: Helvetica;
font-size: 20px;
text-align: left;
margin-top: 10px;
    }
  
 
.flex-conteiner{
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    flex-direction: row;
    width: 100%;
padding-left: 340px;
margin-top: -150px;
}

.flex-conteiner  div{
    margin: 10px;
    padding: 20px;
}

.pic{
    
    width: 286px;
    height: 195px;
  display: inline-block;
    
}
.text1{
    color: #636060;
    width: 286px;
height: 63px;
font-family: Helvetica;
font-size: 18px;
font-weight: 400;
line-height: 20.7px;
text-align: left;
margin-left: 25px;


}
 

  .text{
    width: 214px;
    height: 32px;
   color: #010101;
   font-family: Helvetica;
font-size: 17px;
text-align: left;
margin-left: 20px;

}

