header{
    display: flex;
    width: 100%;
}
nav{
    padding-left: 780px;
}
li{
    display: inline-block;
    margin-left: 25px;
    color: #636060;
   font-size: 20px;
   margin-top: 20px ;
}

img{
    padding-left: 20px;
}

.border{
    position: relative;
  text-align: center;
  margin-top: 40px;

}

.borderpic img{
    width: 100%;
}

.borderpic h1{
   color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 79px;
}
.borderpic p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.left-side{
    padding-left: 70px;
   
   
}

 .left-side h3{
    color: #636060;
    width: 286px;
height: 63px;
}
 

  .left-side h1{
    width: 214px;
    height: 32px;
   color: #010101;
}


   .left-side h4 {
    width: 286px;
    height: 63px;
    color: #636060;
    }
  
 
.conteiner1{
    display: flex;
    flex-wrap: wrap;
}

.conteiner1 div{
    margin: 10px;
    padding: 20px;
}

.pic{
    
    width: 286px;
    height: 195px;
  display: inline-block;
    
}
.text1{
    color: #636060;
    width: 286px;
height: 63px;
}
 

  .text{
    width: 214px;
    height: 32px;
   color: #010101;
}
